{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title> Blog &amp; Magazine</title>
        <meta name="description" content="Newlog - Blog">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
        <meta name="turbo-visit-control" content="reload">

        {# css #}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/override.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/variables.css" type="text/css">
    </head>

    <body>
        {% block section_main %}
        {% endblock %}
    </body>

</html>